.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.Card-container > * {
  text-align: center;
}

.Card-img {
  grid-column-start: 1;
  grid-column-end: 2;
}

.Card-text {
  grid-column-start: 2;
  grid-column-end: 4;
}
